<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
<br>
<br>
<p>
    <input #query (keyup)="filter(query.value)" class="form-control" placeholder="Search...">
</p>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
                <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">
                </data-table-column>

                <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true" [resizable]="true">
                    <ng-template #dataTableCell let-item="item">
                        {{ item.price | currency:'INR':'symbol' }}
                    </ng-template>
                </data-table-column>

                <data-table-column [property]="'key'">
                    <ng-template #dataTableCell let-item="item">
                        <a [routerLink]="['/admin/products', item.id]" class="btn btn-info">
                            Edit</a>
                    </ng-template>
                </data-table-column>

            </data-table>
        </div>
    </div>

</div>